@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body,
html {
  font-family: "Nunito Sans", sans-serif;
  background: #fff;
  color: #191919;
}

body.lock {
  overflow: hidden;
}

body.lock-popup {
  overflow: hidden;
}

.container {
  max-width: 1185px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header.fixed {
  position: fixed;
}

.header.fixed:before {
  background-color: #fff;
}

.header.fixed .header__body {
  height: 60px;
}

@media (max-width: 767px) {
  .header.fixed .header__body {
    height: 40px;
  }
}

.header__body {
  height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header__body {
    height: 40px;
  }
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__burger {
  display: none;
}

body.touch .header__burger {
  display: block;
  position: relative;
  z-index: 3;
  width: 30px;
  height: 20px;
}

body.touch .header__burger:before, body.touch .header__burger:after {
  content: "";
  background-color: #0c0c0c;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}

body.touch .header__burger:before {
  top: 0;
}

body.touch .header__burger:after {
  bottom: 0;
}

body.touch .header__burger span {
  position: absolute;
  background-color: #0c0c0c;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.touch .header__burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.touch .header__burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

body.touch .header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

body.touch .header__menu {
  position: fixed;
  overflow: auto;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
  padding: 80px 10px 80px 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.touch .header__menu.active {
  top: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.menu__list > li {
  position: relative;
  margin: 0 0 0 30px;
}

body.touch .menu__list {
  display: block;
}

body.touch .menu__list > li {
  margin: 0 0 20px 0;
}

.menu a.parent {
  margin: 0 30px 0 0;
}

.menu__link {
  color: #191919;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

@media (max-width: 364px) {
  .menu__link {
    font-size: 36px;
    line-height: 46px;
  }
}

body.touch .menu__link {
  font-size: 42px;
  line-height: 52px;
}

@media (max-width: 364px) {
  body.touch .menu__link {
    font-size: 36px;
    line-height: 46px;
  }
}

@media (max-width: 319px) {
  body.touch .menu__link {
    font-size: 32px;
    line-height: 42px;
  }
}

.menu__link_active {
  color: #3bcfcb;
}

.menu a:hover {
  color: #3bcfcb;
}

.menu__link_active:hover {
  color: #13eae3 !important;
}

.link-scroll:target {
  padding: 60px 0 0 0;
}

.sub-menu__list {
  display: none;
  position: absolute;
  top: 10px;
  left: 0;
  padding: 27px 0 0 0;
  min-width: 150px;
}

body.mouse .sub-menu__list {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.sub-menu__list > li {
  position: relative;
  background: #191919;
}

.sub-menu__link {
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  padding: 10px;
}

.sub-sub-menu__list {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 150px;
}

.sub-sub-menu__list li {
  background: #191919;
}

body.mouse .sub-sub-menu__list {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

body.touch .sub-sub-menu__list li {
  background: #fff;
}

.sub-sub-menu__link {
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  padding: 10px;
}

body.touch .sub-sub-menu__link {
  color: #191919;
}

.arrow.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow {
  display: none;
  position: absolute;
  right: 0;
  top: 2px;
  width: 0;
  height: 0;
  border-top: 8px solid #191919;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.sub-menu__arrow {
  display: block;
  border-right: none;
  top: 5px;
  right: 10px;
  border-left: 8px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

body.mouse .menu__list > li:hover .sub-menu__list {
  visibility: inherit;
  opacity: 1;
}

body.mouse .sub-menu__list > li:hover .sub-sub-menu__list {
  visibility: inherit;
  opacity: 1;
}

body.mouse .sub-menu__arrow {
  border-right: none;
  top: 10px;
  border-left: 3px solid #fff;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

body.touch .sub-menu__list.open {
  display: block;
}

body.touch .sub-sub-menu__list.open {
  display: block;
}

body.touch .arrow {
  display: block;
}

body.touch .menu__arrow {
  top: 5px;
  border-top: 25px solid #191919;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
}

body.touch .sub-menu__arrow {
  top: 5px;
  border-top: 25px solid #fff;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-bottom: none;
}

body.touch .sub-menu__list {
  position: relative;
  top: 0;
  left: 0;
}

body.touch .sub-menu__link {
  font-size: 40px;
}

body.touch .sub-sub-menu__link {
  font-size: 38px;
}

body.touch .sub-sub-menu__list {
  position: relative;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .menu__arrow {
    top: 5px;
    border-top: 25px solid #191919;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
  }
  .sub-menu__arrow {
    top: 5px;
    border-top: 25px solid #fff;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: none;
  }
  .sub-menu__list {
    position: relative;
    top: 0;
    left: 0;
  }
  .sub-menu__link {
    font-size: 40px;
  }
  .sub-sub-menu__link {
    font-size: 38px;
  }
  .sub-sub-menu__list {
    position: relative;
    top: 0;
    left: 0;
  }
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content-head {
  position: relative;
  padding: 120px 0 0 0;
}

@media (max-width: 767px) {
  .content-head {
    padding: 50px 0 0 0;
  }
}

.content-head__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767px) {
  .content-head__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content-head__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-head__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-head__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.content-head__body {
  z-index: 1;
  padding: 120px 0;
}

@media (max-width: 374px) {
  .content-head__body {
    padding: 60px 0;
  }
}

.content-head__title {
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0 0 37px 0;
}

.content-head__text {
  max-width: 100%;
  font-size: 18px;
  color: #787878;
  max-width: 474px;
  margin: 0 0 40px 0;
}

@media (max-width: 1190px) {
  .content-head__text {
    color: #191919;
  }
}

.content-head__link {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  background: #10c9c3;
  line-height: 55px;
  padding: 0 45px;
}

.about {
  padding: 100px 0;
}

@media (max-width: 767px) {
  .about {
    padding: 60px 0;
  }
}

@media (max-width: 374px) {
  .about {
    padding: 50px 0;
  }
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 37px 0;
  font-weight: 700;
}

@media (max-width: 767px) {
  .about__title {
    margin: 0 0 25px 0;
  }
}

.about__text {
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #787878;
  margin: 0 0 37px 0;
}

.about__signature img {
  max-width: 100%;
}

.skills__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__column {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.skills__column:nth-child(1) {
  background: #f8f9f9;
  padding: 160px 0;
}

@media (max-width: 767px) {
  .skills__column:nth-child(1) {
    padding: 80px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 374px) {
  .skills__column:nth-child(1) {
    padding: 40px 0;
  }
}

@media (max-width: 767px) {
  .skills__column:nth-child(2) {
    display: none;
  }
}

.skills__body {
  padding: 0 70px;
}

@media (max-width: 425px) {
  .skills__body {
    padding: 0 30px;
  }
}

.skills__title {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0 0 40px 0;
}

.skills__skill {
  margin: 0 0 40px 0;
}

.skills__skill:last-child {
  margin: 0;
}

.skill__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.skill__title h2 {
  font-weight: 700;
  margin: 0 20px 0 0;
}

.skill__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 4px;
  width: 100%;
  background: #d8d8d8;
}

.skill_active {
  position: absolute;
  left: 0;
  width: 75%;
  height: 4px;
  background: #10c9c3;
}

.skill__line_1 .skill_active {
  width: 75%;
}

.skill__line_2 .skill_active {
  width: 90%;
}

.skill__line_3 .skill_active {
  width: 65%;
}

.skills__image {
  width: 100%;
  height: 100%;
}

.skills__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.numbers {
  background: #10c9c3;
}

.numbers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0 70px 0;
  margin: 0 -15px;
}

@media (max-width: 767px) {
  .numbers__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 60px 0 0 0;
  }
}

@media (max-width: 374px) {
  .numbers__row {
    margin: 0 -5px;
    padding: 30px 0 0 0;
  }
}

@media (max-width: 319px) {
  .numbers__row {
    margin: 0 -2px;
  }
}

.numbers__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .numbers__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 0 60px 0;
  }
}

@media (max-width: 374px) {
  .numbers__column {
    padding: 0 5px;
    margin: 0 0 30px 0;
  }
}

@media (max-width: 319px) {
  .numbers__column {
    padding: 0 2px;
  }
}

.numbers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers-item__image {
  margin: 0 25px 0 0;
}

@media (max-width: 374px) {
  .numbers-item__image {
    margin: 0 5px 0 0;
  }
}

@media (max-width: 319px) {
  .numbers-item__image {
    margin: 0 2px 0 0;
  }
}

.numbers-item__image span {
  font-size: 48px;
  color: #fff;
}

@media (max-width: 319px) {
  .numbers-item__image span {
    font-size: 40px;
  }
}

.numbers-item__title {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
  margin: 0 0 15px 0;
}

@media (max-width: 374px) {
  .numbers-item__title {
    margin: 0 0 5px 0;
  }
}

.numbers-item__text {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media (max-width: 767px) {
  .work__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.work__item {
  width: 100%;
  position: relative;
}

.work-item__bg {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: #141414;
  z-index: 2;
  opacity: 0.85;
}

.work-item__bg i {
  font-size: 48px;
  color: #fff;
}

.work__item:hover .work-item__bg {
  visibility: inherit;
}

.work-item__image {
  width: 100%;
  height: 100%;
}

.work-item__image img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.work__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
}

.work__link {
  display: block;
  text-align: center;
  width: 100%;
  line-height: 100px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #8e8e8e;
}

.work-process {
  padding: 100px 0;
}

@media (max-width: 767px) {
  .work-process {
    padding: 60px 0;
  }
}

@media (max-width: 374px) {
  .work-process {
    padding: 50px 0;
  }
}

.work-process__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-process__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 0 57px 0;
}

@media (max-width: 767px) {
  .work-process__body {
    margin: 0 0 47px;
  }
}

.work-process__title {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0 0 36px 0;
}

@media (max-width: 767px) {
  .work-process__title {
    margin: 0 0 26px;
  }
}

.work-process__text {
  font-size: 16px;
  line-height: 24px;
  max-width: 500px;
}

.work-process__player img {
  max-width: 100%;
}

.services {
  background: #f5f5f5;
  padding: 100px 0 44px 0;
}

@media (max-width: 768px) {
  .services {
    padding: 60px 0 24px 0;
  }
}

@media (max-width: 374px) {
  .services {
    padding: 50px 0 0 0;
  }
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 0 56px 0;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 0 36px 0;
  }
}

@media (max-width: 374px) {
  .services__column {
    margin: 0 0 30px 0;
  }
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-item__image {
  font-size: 48px;
  color: #656565;
  margin: 0 0 25px 0;
}

@media (max-width: 374px) {
  .services-item__image {
    margin: 0 0 10px 0;
  }
}

.services-item__body {
  text-align: center;
}

.services-item__title {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 18px 0;
}

@media (max-width: 374px) {
  .services-item__title {
    margin: 0 0 10px 0;
  }
}

.services-item__text {
  max-width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #787878;
}

.testimonails {
  background: #10c9c3;
}

.swiper-slide {
  padding: 170px 0;
  background: #10c9c3;
}

@media (max-width: 767px) {
  .swiper-slide {
    padding: 60px 0;
  }
}

@media (max-width: 374px) {
  .swiper-slide {
    padding: 50px 0;
  }
}

.testimonails-slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.testimonails-slider_text {
  max-width: 1010px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  margin: 0 0 25px 0;
}

@media (max-width: 374px) {
  .testimonails-slider_text {
    font-size: 24px;
    line-height: 30px;
  }
}

.testimonails-slider__author {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.testimonails-slider .swiper-pagination {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonails-slider .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #b0e8e6;
  opacity: 1;
}

.testimonails-slider .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

.clients {
  background: #fff;
  padding: 60px 0;
}

@media (max-width: 767px) {
  .clients {
    padding: 30px 0 0 0;
  }
}

.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .clients__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .clients__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    margin: 0 0 30px 0;
  }
  .clients__column:last-child, .clients__column:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 424px) {
  .clients__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .clients__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.clients__item {
  opacity: 0.5;
}

.clients-item__image img {
  max-width: 100%;
}

.need-project {
  background: #f5f5f5;
  padding: 100px 0;
}

@media (max-width: 767px) {
  .need-project {
    padding: 60px 0;
  }
}

@media (max-width: 424px) {
  .need-project {
    padding: 50px 0;
  }
}

.need-project__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 40px 0;
}

.need-project__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.need-project__title {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #1d1d1d;
  text-align: center;
  margin: 0 0 35px 0;
}

.need-project__subtitle {
  font-size: 16px;
  color: #787878;
  max-width: 537px;
  text-align: center;
  line-height: 24px;
}

.need-project__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.need-project-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px 0;
  padding: 0 230px;
}

@media (max-width: 1190px) {
  .need-project-form__row {
    padding: 0 100px;
  }
}

@media (max-width: 767px) {
  .need-project-form__row {
    padding: 0 50px;
  }
}

@media (max-width: 424px) {
  .need-project-form__row {
    padding: 0 15px;
  }
}

.need-project-form__row_sm {
  margin: 0 -15px 30px -15px;
}

@media (max-width: 767px) {
  .need-project-form__row_sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.need-project-form__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.need-project-form__column_sm {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .need-project-form__column_sm {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    margin: 0 0 30px 0;
  }
  .need-project-form__column_sm:last-child {
    margin: 0;
  }
}

.need-project-form__item {
  width: 100%;
}

.need-project-form__input {
  width: 100%;
}

.need-project-form__input input,
.need-project-form__input textarea {
  width: 100%;
  padding: 0 20px;
  font-size: 15px;
  color: #787878;
}

.need-project-form__input input {
  height: 48px;
}

.need-project-form__input textarea {
  height: 170px;
  padding: 20px;
  resize: none;
}

@media (max-width: 1919px) {
  .need-project-form__input textarea {
    height: 80px;
  }
}

.need-project-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 185px;
  height: 55px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background: #10c9c3;
}

.btn {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 204, 204, 0.5);
  box-shadow: 0px 0px 20px 10px rgba(0, 204, 204, 0.5);
}

.footer {
  background: #141414;
  padding: 100px 0;
}

@media (max-width: 767px) {
  .footer {
    padding: 60px 0 30px 0;
  }
}

@media (max-width: 424px) {
  .footer {
    padding: 30px 0 0 0;
  }
}

.footer a:hover {
  color: #fff;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 50px;
  }
}

@media (max-width: 599px) {
  .footer__row {
    padding: 0 15px;
  }
}

@media (max-width: 424px) {
  .footer__row {
    padding: 0 10px;
  }
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer__column {
    margin: 0 0 30px 0;
  }
  .footer__column:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .footer__column:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 424px) {
  .footer__column:nth-child(1), .footer__column:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 500;
  margin: 0 0 30px 0;
}

.footer__lic {
  font-size: 15px;
  color: #bcbcbc;
  max-width: 230px;
}

.footer__mail {
  font-size: 15px;
  color: #bcbcbc;
  margin: 0 0 10px 0;
}

.footer__tel {
  font-size: 15px;
  color: #bcbcbc;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list li {
  margin: 0 0 10px 0;
}

.footer-list__link {
  font-size: 15px;
  color: #bcbcbc;
}

.popup {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup input,
.popup textarea {
  background: #f5f5f5;
}

.popup__area {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: inherit;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.popup__content {
  background: #fff;
  color: #000;
  max-width: 800px;
  min-width: 300px;
  padding: 30px;
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popup:target .popup__content {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup__close {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
}

.popup__close:before, .popup__close:after {
  content: "";
  background-color: #222;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
}

.popup__close:before {
  top: 13px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__close:after {
  bottom: 14px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__title {
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 24px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.contact-form ::-webkit-input-placeholder {
  color: #000;
  opacity: 0.8;
}

.contact-form ::-moz-placeholder {
  color: #000;
  opacity: 0.8;
}

.contact-form :-moz-placeholder {
  color: #000;
  opacity: 0.8;
}

.contact-form :-ms-input-placeholder {
  color: #000;
  opacity: 0.8;
}

.contact-form__input {
  min-width: 100%;
  margin: 0 0 20px 0;
  background: #999999;
  padding: 20px;
  color: #000;
}

.contact-form__textarea {
  min-width: 100%;
  margin: 0 0 20px 0;
  background: #999999;
  padding: 20px;
  resize: none;
}

.contact-form__btn {
  display: inline-block;
  padding: 15px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
